.blogCart {
  text-align: center;
}

.blogCart img {
  width: 100%;
}

.blogCart h2 {
  font-size: 3rem;
  border-bottom: 3px solid #c4ab9f;
  width: fit-content;
  margin: 1rem auto 2rem;
}

.blogCart p {
  font-size: 1.6rem;
  color: #777;
  line-height: 1.8;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons button {
  /* border: none; */
  padding: 1rem 2rem;
  font-weight: 600;
}

.addCart {
  background-color: #000;
  color: #fff;
}

.view {
  background-color: #fff;
  border: 2px solid #000;
}
