.blogPosts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 8rem 3rem;
  width: 70%;
  margin: 0 auto;
  padding: 10rem 5rem 10rem;
  overflow-y: auto;
  scrollbar-width: none;
}
