.footer {
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 10rem;
}

.logo {
  margin-right: 5rem;
  line-height: 1.2;
  cursor: pointer;
  letter-spacing: -2px;
}

.logo p:first-child {
  font-size: 4rem;
}

.logo p:last-child {
  font-size: 2rem;
  letter-spacing: 0.5rem;
  padding-left: 0.3rem;
  font-weight: bold;
}

/* ----------- */

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 45%;
  font-size: 2.5rem;
  letter-spacing: -1px;
  font-weight: bold;
  margin-right: 2rem;
}

li {
  cursor: pointer;
  transition: all 0.2s;
}

li:hover {
  color: #c8a97e;
  text-shadow: 0 0 0 2px rgb(47, 3, 3);
}
